.icon-button {
    display: flex;
    align-items: center;

    padding: 2px;

    border: none;
    border-radius: var(--round-rad-default);
    background-color: transparent;

    cursor: pointer;

    &:hover {
        background-color: var(--bg-default-hover);
    }

    > span:hover {
        color: var(--icon-secondary-hover);
    }
}
