.note-selector-wrapper {
    display: flex;
    align-items: center;

    padding-inline: 8px;
    padding-block: 4px;
    gap: 4px;

    cursor: pointer;

    border-radius: var(--round-rad-default);

    &:hover {
        background-color: var(--bg-default-hover);
    }
}

.indent-bar {
    width: 24px;
    text-align: center;
    color: var(--icon-secondary);
}

.editable-input {
    width: 100%;

    padding-inline: 0;
    padding-block: 2px;

    font-size: 1rem;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    outline: none;
    border: none;
    background-color: transparent;
}

.editable-label {
    width: 100%;
}
