.note-folder-wrapper {
    display: flex;
    align-items: center;

    padding-inline: 8px;
    padding-block: 4px;
    gap: 4px;

    border-radius: var(--round-rad-default);

    &:hover {
        background-color: var(--bg-default-hover);
    }
}

.note-selected {
    background-color: var(--bg-default-hover);
}

.note-active {
    background-color: var(--bg-default-hover);
    outline: 2px solid var(--border-default);
    outline-offset: -2px;
}
