.popover-wrapper {
    position: fixed;
    min-width: 150px;
    top: 50px;
    left: 50px;

    padding-block: 8px;
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(0 0 8px gray);
}

.item-action-button {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 4px;
    padding-inline: 16px;

    border-radius: 0;
    border: none;
    outline: none;
}

.item-action-name {
    font-size: medium;
}

.item-action-icon {
    color: rgb(216, 24, 24);
}
