.app-container {
    width: 100%;
    height: 100svh;

    display: flex;
}

.drawer-section {
    min-width: 300px;

    display: flex;
    flex-direction: column;
}

.drawer-top-bar {
    height: 40px;

    display: flex;
    align-items: center;

    padding-inline: 16px;
    gap: 16px;
}

.main-top-bar {
    height: 40px;
    max-width: calc(100svw - 300px);

    display: flex;
    align-items: center;

    padding-inline: 16px;
    gap: 8px;

    overflow-x: hidden;

    scrollbar-width: none;

    @supports (-moz-appearance: none) {
        scroll-behavior: smooth;
    }

    &:hover {
        overflow-x: scroll;
    }
}

.drawer-contents {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-icons-section {
    height: 45px;

    display: flex;
    justify-content: center;

    padding-block: 8px;
    gap: 16px;
}

.folders-section,
.notes-section {
    display: flex;
    flex-direction: column;

    padding-inline: 16px;
    padding-block: 2px;
    gap: 4px;
}

.cards-section {
    height: 100%;
    display: flex;
    align-items: end;

    padding: 0;
    gap: 8px;

    > li {
        list-style: none;
    }
}

.main-panel-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.note-tools-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tools-section {
    height: 45px;
    display: flex;
    justify-content: space-between;

    padding-inline: 16px;
    padding-block: 8px;
}

.arrow-container {
    display: flex;
    gap: 16px;
}

.note-section {
    flex: 1;
    justify-content: center;
    display: flex;

    max-height: calc(100svh - 85px);

    overflow-y: scroll;

    ::-webkit-scrollbar-thumb {
        background: red;
    }
    --scrollbar-width: none;
}

.editor-wrapper {
    flex: 1;
    max-width: 1000px;
    padding-inline: 16px;

    display: flex;
    flex-direction: column;
}
