.addWrapper{
    display: flex;
    
    margin: 1.5em;
    min-height: 20em;
    min-width: 15em;

    border-radius: 16px;
    border: dashed white;

    justify-content: center;
    cursor: pointer;

    >img{
        width: 5em;
        height: auto;
    }
}

.addWrapper:hover{
    background-color: rgb(78, 78, 78);
}