body {
  margin: 0;
}

:root {
  --primary: #323232;
  --primary-light: #3d3d3d;
  --on-primary: #ffffff;
  --secondary: #4e4e4e;
  --secondary-light: #5f5f5f;
  --tertiary: #222222;
  --tertiary-light: #323232;
  --background: #2c2c2c;
  --red: #b73333;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--on-primary);
  user-select: none;
  cursor: pointer;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--on-primary);
  margin: 0;
}
