#root {
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

.note-drawer-section {
  flex: 1;
  max-width: 20em;
  min-width: 17em;
}

.note-editor-section {
  flex: 2;
  overflow-y: scroll;
}
